.paq:link {
    color:#18181a;
}

body {
    background :rgb(255, 255, 255);
}


#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#google {
    padding-right: 65px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

   
}

#foo{
   
    border-radius: 15px;
    border-width: 0.1px;
    height: 25px;
    display: flex;
    justify-content: center; 
    z-index: 3;
    height: 44px;
    background: rgb(255, 255, 255);
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 2px;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px lightblue
 }

 .bar {
    display:flex;
    width:100px;
    margin:auto;
    justify-items: center;
    border-radius: 5px;
    margin-bottom: 5px; 
 }


 
.nav {
    list-style-type:none;
    display:flex ;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px
}

.nav > li {
    padding-right: 10px;
}

#tix {
    padding-right: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;

}

.lucky {
    background-color:#eff2ca65;
    border: none;
    
}

.lucky:hover {
    border: #444;
    border-style: ridge;
    border-width: 1px;
    background-color: rgb(238, 237, 234);
  }

#space {
    height: 10em;
}

.goat{
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 16px;
    font-weight: 500;
    font-family: arial,sans-serif;
    color: rgb(51,51,51);
    font-style: normal;
    
}


.head {
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 20px;
    font-family: arial,sans-serif;
    font-weight: 400;
}

#text, #field, #comment {
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.label {
    margin-bottom: 20px;
    margin-left:30px;
    display:inline-block ;
    white-space: nowrap;
    width: 200px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(34,34,34);
    line-height: 20px;
    vertical-align: baseline;
    font-family: Arial, sans-serif;
}

.input {
    margin-bottom: 20px;
    margin-left:20px;
    min-width: 300px;
    width: 400px;
    white-space: nowrap;
     
}

.alt {
    margin-bottom: 20px;
    margin-left:30px;
    min-width: 300px;
    font-size: 11px;
    font-family:  arial,sans-serif;
    font-weight: 400;
    vertical-align: baseline;
    color: #555;
}

.labelr{
    margin-left:30px;
    display:inline-block ;
    white-space: nowrap;
    width: 200px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(34,34,34);
    line-height: 20px;
    vertical-align: baseline;
    font-family: Arial, sans-serif;
    
}

.labelr:link {
    text-decoration: none;
    color: rgb(17,34,204);
}

.labelr:visited {
    color: rgb(17, 34, 204);  
}

.labelr:hover {
    text-decoration:underline;

}

#span {
    display: block;
}

.nig {
    margin-left:30px;
    font-size: 15px;
    color: #70757a;
    font-weight: 400;
}

.nix{
    margin-left:30px;
}

.egg {
    margin-right: 27px;
    font-size: 14px; 
    color: #70757a;
    font-weight: 400;
}

#adv {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 144, 254);
    display: flex;
    justify-content: right;
    border: none;
    margin-left: 280px;
}

.tan{
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    color: #444;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none;

}

#top {
    display: flex;
    flex-direction: row;

}

a:link {
    text-decoration: none;
}

a:hover{
 text-decoration: underline;
}